/*   display the text  */

.hidden {
  display: none;
}
/* style container                */
* {
  margin: 0;
}
.tab-link {
  width: 100%;
  background-color: #666;
  height: 50px;
  button {
    margin-right: -5px;
    border: none;
    border-right: 2px solid #acabab;
    width: calc(100% / 4);
    height: 100%;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      background-color: #acabab;
    }
  }
  .back {
    background-color: #acabab;
  }
}
.tab-text {
  height: 200px;
  background-color: #acabab;
  font-size: 35px;
  text-align: center;
  padding-top: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  p {
    padding-top: 15px;
  }
}
